<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>HotelAide</title>
  <link rel="stylesheet" href="/css/privacy.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous"
    referrerpolicy="no-referrer" />
   <link rel="stylesheet" href="https://cdnjs.cloudfare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-e7rrJcwDc/3uDhsdt61sL2oOBY362qM31on1gyExkL0=" crossorigin="anonymous" />
  <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
</head>

<body>
  <nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
      <i class="fas fa-bars"></i>
    </label>
    <label class="logo">HotelAide</label>
    <ul>
      <li><a class="active" href="/">Home</a></li>
      <li><a href="/log-in">Log-In</a></li>
      <li><a href="/review">Review</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/terms">T&C</a></li>
    </ul>
  </nav>

  <section class="section-logo-image">
  </section>


  <section class="privacy-content">
    <h2 class="privacy-content-heading"><b>HotelAide: Communtiy Guidelines</b></h2>
    <div class="privacy-content-paragraph">

      <h5>Thank you for considering creating a community for hotel reviews! Building and maintaining a strong community requires clear guidelines for members to follow. These guidelines can help ensure that everyone in the community feels welcome and safe, and that the content on the site is useful and appropriate.</h5>

      <p><b>1)</b> Be respectful and considerate of others. Treat others the way you would like to be treated. Avoid using offensive language or making personal attacks on others.</p>
      <p><b>2)</b> Stay on topic. Keep your reviews and comments focused on the hotels and accommodations being discussed. Off-topic or unrelated posts may be removed.</p>
      <p><b>3)</b> Protect your privacy and the privacy of others.</p>
      <p><b>4)</b> Keep it legal. Do not post content that violates any laws or regulations.</p>
      <p><b>5)</b> Stay honest and factual. Provide accurate and truthful information in your reviews. Do not post false or misleading information.</p>
      <p><b>6)</b> Use appropriate language. Keep your language appropriate for all audiences. Avoid using profanity or other inappropriate language.</p>
      <p><b>7)</b> Report any problems or concerns. If you see content that violates these guidelines or is otherwise inappropriate, please report it to the moderators for review.</p>

      <h5>By following these guidelines, you can help create a positive and helpful community for hotel reviews. Thank you for your participation!</h5>

    </div>
  </section>

</body>

</html>
